body {
    margin: 0;
    padding: 0;
}

.Frame2 {
    margin: 0;
    padding: 1%;
    background-color: #11FF66;
}

.Frame3 {
    margin: 0;
    padding: 1%;
    background-color: #11FF66;
}

.btn-top {
    background-color: #D9D9D9;
    color: black;
    border: 0px solid black;
    height: 25px;
    width: 100px;
    border-radius: 10px;
}

.w3-btn {
    margin: 1%;
    padding: 0;
    background-color: #18A0FB;
    color: white;
    border: 0px solid white;
    height: 25px;
    width: 100px;
    border-radius: 5px;
}

h1 {
    font-size: 75px;
    text-align: center;
    margin: 0;
}

h2 {
    padding: 20px;
    color: black;
    border: 0px solid black;
    text-align: center;
    font-size: 40px;
}

li a {
    display: block;
    color: #000000;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}