body {
    padding: 0;
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

ul.topnav li {
    float: left;
}

.right {
    float: right;
}

.Frame2 {
    margin: 0;
    padding: 1%;
    background-color: #FFDD55;
}

.Frame3 {
    margin: 0;
    padding: 1%;
    background-color: #FFDD55;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clear: both;

}


li {
    float: left;
}

li img {
    float: left;
    margin: 15px;
    padding: 10px;
}

li a {
    display: block;
    color: #000000;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

.col-sm-5 p {
    padding: 1px;
    width: auto;
    height: 50px;
}

.w3-btn {
    background-color: #D9D9D9;
    color: black;
    border: 0px solid black;
    height: 25px;
    width: 75px;
    border-radius: 10px;

}

h1 {
    font-size: 75px;
    text-align: center;
}

h2 {
    padding: 20px;
    background-color: #1155DD;
    color: black;
    border: 0px solid black;
    text-align: center;
    font-size: 40px;
    height: 70px;
    width: 350px;
    border-radius: 100px;
}


ul.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

ul.footer li {
    float: left;
}