body {
    padding: 0px;
    margin: 0px;
}

.Frame1 {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}

.Frame2 {
    padding: 2px;
    margin: 0px;
    background-color: #FFDD55;
}

.Frame3 {
    padding: 2px;
    margin: 0px;
    background-color: #FFDD55;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    clear: both;
}

li {
    float: left;
}

li img {
    float: left;
    margin: 15px;
    padding: 10px;
}

li a {
    display: block;
    color: #000000;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

.w3-btn {
    background-color: #D9D9D9;
    color: black;
    border: 0px solid black;
    height: 25px;
    width: 75px;
    border-radius: 10px;
}

h1 {
    font-size: 75px;
    text-align: center;
    margin: 0;
}

.Frame2 img {
    border-radius: 50%;
}

h2 {
    padding: 20px;
    background-color: #1155DD;
    color: black;
    border: 0px solid black;
    text-align: center;
    font-size: 60px;
    height: 80px;
    width: 400px;
    border-radius: 100px;
}

.footer {
    padding: 0px;
    background-color: #FFDD55;
}